
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.blocco {
  position: relative;
  width: 50%;
  height: 60%;
  margin: 10px;
}

.layover{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

p{
 color: white;
 font-size: 40px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.roma {
  background: url("../assets/img/roma.jpg")
}

.tokyio {
  background: url("../assets/img/tokyo.jpg")
}

.cope {
  background: url("../assets/img/copenaghen.jpg")
}
